################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/aspnetcore/Y.ChatCore/.vs/Y.ChatCore
/src/aspnetcore/Y.ChatCore/Y.Chat.Application/obj/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Chat.Application/obj
/src/aspnetcore/Y.ChatCore/Y.Chat.Domain/obj
/src/aspnetcore/Y.ChatCore/Y.Chat.EntityCore/obj
/src/aspnetcore/Y.ChatCore/Y.Chat.Host/obj
/src/aspnetcore/Y.ChatCore/.vs/ProjectEvaluation
