################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/aspnetcore/Y.ChatCore/.vs/Y.ChatCore
/src/aspnetcore/Y.ChatCore/Y.Chat.Application/obj/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Chat.Application/obj
/src/aspnetcore/Y.ChatCore/Y.Chat.Domain/obj
/src/aspnetcore/Y.ChatCore/Y.Chat.EntityCore/obj
/src/aspnetcore/Y.ChatCore/Y.Chat.Host/obj
/src/aspnetcore/Y.ChatCore/.vs/ProjectEvaluation
*.user
/src/aspnetcore/Y.ChatCore/Y.Common/obj
/src/aspnetcore/Y.ChatCore/Y.ChatCore.sln
/src/aspnetcore/Y.ChatCore/Y.Chat.Domain/bin/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Common/bin/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Chat.Application/bin/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Chat.EntityCore/bin/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Chat.Host/bin/Debug/net7.0
/src/aspnetcore/Y.ChatCore/debug.log
/src/aspnetcore/Y.ChatCore/Y.Chat.Contracts/obj/Debug/net7.0
/src/aspnetcore/Y.ChatCore/Y.Chat.Contracts/obj
